@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

body {
  background-color: #FAFAFA;
}

p {
  line-height: 2rem;
}

.btn-outline {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.btn-transparent {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}