header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  background: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  background-position: 30%;
  color: white;
  padding: 4rem 8rem 8rem;
  border-radius: 0 0 0 6rem;
  height: 60vh;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

nav #logo {
  margin-right: 3rem;
}

nav span {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

nav span img {
  margin-left: .25rem;
  transition: rotate .5s ease-in-out;
}

nav .buttons {
  margin-left: auto;
}

header p {
  text-align: center;
  font-weight: 300;
  color:rgba(255, 255, 255, 0.75);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.heading-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: .25rem;
  list-style: none;
  padding: 2rem 1.5rem;
  color: black;
  font-weight: 300;
  line-height: 2rem;
  width: 10rem;
  margin-top: 2rem;
}

.show li:hover {
  font-weight: 600;
}

.hide {
  display: none;
}

.flip {
  rotate: 180deg;
  transition: rotate .5s ease-in-out;
}

.mobileMenu {
  display: none;
}

@media (max-width: 800px) {
  header {
    background-position: 100%;
    width: 100%;
    padding: 4rem 2rem;
    padding-bottom: 10rem;
    height: 75vh;
  }
  
  .desktopMenu {
    display: none;
  }

  .menu {
    flex-direction: column;
    background-color: white;
    width: 95%;
    border-radius: .25rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8rem;
  }
  
  .menu .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.295);
    padding-top: 1rem;
  }
  
  .menu span {
    color: hsl(237, 23%, 32%);
  }
  
  .menu span, .menu .buttons button {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Overpass';
  }

  .menu ul {
    background-color: hsla(237, 23%, 32%, 0.1);
    color: hsl(237, 23%, 32%);
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .menu #logo {
    display: none;
  }
  
  nav {
    margin-bottom: 2rem;
    justify-content: space-between;
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  
  .mobileMenu {
    display: flex;
  }
  
  nav #hamMenu {
    display: block;
    cursor: pointer;
  }

  header h1 {
    font-size: 2rem;
  }

  .menu button {
    background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
    color:rgba(255, 255, 255, 0.75);
  }

  .menu button:first-child {
    background: white;
    color: hsl(237, 23%, 32%);
  }

  .show {
    position: relative;
    text-align: center;
  }
}