header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  background: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  background-position: 30%;
  color: white;
  padding: 4rem 8rem 8rem;
  border-radius: 0 0 0 6rem;
  height: 60vh;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

nav #logo {
  margin-right: 3rem;
}

nav span {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

nav span img {
  margin-left: .25rem;
  transition: rotate .5s ease-in-out;
}

nav .buttons {
  margin-left: auto;
}

header p {
  text-align: center;
  font-weight: 300;
  color:rgba(255, 255, 255, 0.75);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.heading-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: .25rem;
  list-style: none;
  padding: 2rem 1.5rem;
  color: black;
  font-weight: 300;
  line-height: 2rem;
  width: 10rem;
  margin-top: 2rem;
}

.show li:hover {
  font-weight: 600;
}

.hide {
  display: none;
}

.flip {
  rotate: 180deg;
  transition: rotate .5s ease-in-out;
}