#intro {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0;
  padding-bottom: 20%;
  display: flex;
  flex-direction: column;
  background-image: url('../images/illustration-editor-desktop.svg');
  background-repeat: no-repeat;
  background-position: 150%;
  background-size: 64%;
  gap: 3rem;
}

#intro article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

#intro p {
  width: 80%;
  color:hsl(207, 13%, 34%);
}

#intro h1 {
  padding: 8rem;
}

#intro h2 {
  text-align: left;
}

#intro h1, #intro h2 {
  color: hsl(237, 17%, 21%)
}

@media (max-width: 800px) {
  #intro {
    padding-left: 5%;
    padding-right: 5%;
    background-image: none;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  #intro article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  #intro h1, #intro h2, #intro p {
    text-align: center;
    padding: 0;
  }

  #intro h1 {
    padding: 6rem 0;
    font-size: 2rem;
  }

  #intro p {
    width: 100%;
  }

  #intro img {
    display: block;
    width: 100%;
  }
}